Source: libdvdnav
Section: libs
Priority: optional
Maintainer: Philipp Matthias Hahn <pmhahn@debian.org>
Standards-Version: 3.5.10
Build-Depends: debhelper (>= 4.1.1), automake1.7

Package: libdvdnav4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: The DVD navigation library
 This is the DVD navigation library, which provides an interface
 to the advanced features of DVDs, like menus, navigation, etc.
 .
 This package contains the libdvdnav runtime library.

Package: libdvdnav-dev
Section: libdevel
Architecture: any
Depends: libdvdnav4 (= ${Source-Version})
Description: The DVD navigation library, development package
 This is the DVD navigation library, which provides an interface
 to the advanced features of DVDs, like menus, navigation, etc.
 .
 This package contains the header files and static library needed to
 compile applications that use libdvdnav.
